.live_pricing_container {
  margin: 5rem auto;
  width: 82%;
}

.live_pricing_header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.currency_item {
  width: 24%;
  border: 2px solid #212121;
  padding: 1rem;
  border-radius: 0.25rem;
}

.currency_item h3 {
  text-transform: uppercase;
}

.currency_item img {
  margin: 1rem 0;
  height: 150px;
}

.currency_item:first-child {
  background-color: #fdedd4;
}

.currency_item:nth-child(2) {
  background-color: #e1f9f1;
}

.currency_item:nth-child(3) {
  background-color: #dbe3ff;
}

.currency_item:nth-child(4) {
  background-color: #fbf5d5;
}

.currency_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.increase {
  color: #fff;
  font-weight: bolder;
  background-color: #10d876;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.decrease {
  color: #fff;
  font-weight: bolder;
  background-color: #e4405f;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.chart_container {
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.chart_container h4 {
  text-transform: uppercase;
  color: #212121;
}

.cryptocurrency_title {
  margin: 1rem 0;
}

.table_container table {
  position: relative;
}

.coin_name {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.coin_sidebar {
  position: absolute;
  right: 0;
  top: 1.5px;
  width: 50%;
  height: 99%;
}

.coin_sidebar_inner {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #212121;
}

.close_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  padding: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.coin_sidebar_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.coin_sidebar_header svg {
  width: 75px;
  height: 75px;
}

.coin_sidebar_inner p {
  padding: 1rem;
  font-weight: bolder;
}

.filters {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filters button {
  padding: 1rem;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-weight: bolder;
  cursor: pointer;
}

.coin_sidebar_header span {
  background-color: #f0f0f0;
  color: #212121;
  padding: 0.5rem;
  font-weight: bolder;
  border-radius: 0.25rem;
}

@media (max-width: 920px) {
  .live_pricing_container {
    margin: 1rem auto;
    width: 90%;
  }

  .live_pricing_header {
    flex-direction: column;
    gap: 1rem;
  }

  .currency_item {
    width: 100%;
  }

  .cryptocurrency_title {
    display: none;
  }
}
